body {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.5px;
    background-color: #FFF6BF;
    /* color: #FECD70 */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #E3C770;
}

table {
    margin: auto;
}

ul {
    display: inline-block;
}

hr {
    border: dotted gray 7px;
    border-bottom: none;
    width: 5%;
    height: 2px;
}

.left-align {
    text-align: left;
}

.footer {
    text-decoration: none;
}

.footer:hover {
    color: gray;
}

#title, #skills, #achievments, #hobbies, #strengths, #coding-platforms {
    margin: 3%;
}

#title {
    font-size: x-large;
}